{% extends 'layout.html' %}
{% block controllers %}
	<button class='global-btn register-btn board-btn' title='Change Password' data-toggle='modal' data-target='#editPasswordModal'><i class='fa fa-lock'></i></button>
	<button class='global-btn register-btn board-btn' title='Edit Profile' data-toggle='modal' data-target='#editProfileModal'><i class='fa fa-pencil'></i></button>
	{{ super() }}
{% endblock %}
{% block content %}
	<h2>Profile</h2>
	{% if name %}<h4>Name: <span id='profile-name'>{{name}} </span></h4> {% endif %}
	<h4>Username: <span id='profile-username'>{{session.username}}</span></h4> 
	<h4>Email: <span id='profile-email'>{{email}} </span></h4> 
	<h4>Boards:</h4>
	<ul>
	{% for board in boards %}
		<li><a href="{{ url_for('show_board', boardID=board.id) }}">{{board.title}}</a></li>
	{% else %}
		<li>You haven't created any boards yet!</li>
	{% endfor %}
	</ul>
{% endblock %}
{% block controller_modals %}
	{{ super() }}
<!--Edit Password-->
		<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="editPasswordLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="editPasswordLabel">Change Password</h4>
		      </div>
		      <div class="modal-body">
				  <form id='edit-password-form'>
				  	<input name='_csrf_token' type='hidden' value="{{ csrf_token() }}">
				  	<div class='form-group'>
				     <label for='password-modal'>Old Password</label>
				     <input type='password' class='form-control' id='old-password-modal' name='old-password' placeholder='JUST TO CHECK' required>
				    </div>
				  	<div class='form-group'>
				     <label for='password-modal'>New Password</label>
				     <input type='password' pattern=".{6,}" class='form-control' id='password-modal' name='password' title='Password must be at least 6 characters.' placeholder='GOING ONCE...' required>
				    </div>
				    <div class='form-group'>
				     <label for='password2-modal'>New Password (again)</label>
				     <input type='password' class='form-control' id='password2-modal' name='password2' placeholder="GOING TWICE..." required>
				    </div>
				     <button type='submit' class='global-btn full-btn' id='edit-password-button'>Save</button>
				  </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!--End Edit Password-->
	<!--Edit Profile-->
		<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="editProfileLabel">Edit Profile</h4>
		      </div>
		      <div class="modal-body">
				  <form id='edit-profile-form'>
				  	<input name='_csrf_token' type='hidden' value="{{ csrf_token() }}">
				  	<div class='form-group'>
				     <label for='username-modal'>Username</label>
				     <input type='text' class='form-control' id='username-modal' name='username' pattern='^[a-zA-Z0-9_-]{3,16}$' title='Username must consist of letters, numbers, underscores, or hyphens only, and must be at least 3 characters long and at most 16' value='{{ session.username }}' required>
				    </div>
				    <div class='form-group'>
				     <label for='name-modal'>Name</label>
				     <input type='text' class='form-control' id='name-modal' name='name' value='{{ name }}' placeholder="HI, WHAT'S YOUR NAME?">
				    </div>
				    <div class='form-group'>
				     <label for='email-modal'>Email</label>
				     <input type='email' class='form-control' id='email-modal' name='email' value='{{ email }}' required>
				    </div>
				     <button type='submit' class='global-btn full-btn' id='edit-profile-button'>Save</button>
				  </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!--End Edit Profile-->
{% endblock %}
{% block scripts %}
<script>
	$(function(){
		// EDIT PROFILE
		$('#edit-profile-form').bind('submit', function(event){
			event.preventDefault();
			$('#edit-profile-msg').remove(); // remove any previous warnings/etc
			var data = $(this).serialize();
			$.post({{ url_for('edit_profile') | tojson | safe }}, data, function(data){
				if(data.error != 'None'){
					$('#editProfileModal .modal-body').prepend('<div class="alert alert-warning" id="edit-profile-msg" role="alert">' + data.error +'</div>');
				}
				else{
					$('#editProfileModal .modal-body').prepend('<div class="alert alert-success" id="edit-profile-msg" role="alert"> Successfully saved! </div>');
					var newName = $('#name-modal').val();
					var newEmail = $('#email-modal').val();
					var newUsername = $('#username-modal').val();
					$('#profile-name').text(newName);
					$('#profile-email').text(newEmail);
					$('#profile-username').text(newUsername);
				}
				$("input[name='_csrf_token']").val(data.token);
			}); 

		});
			$("#editProfileModal").on("hidden.bs.modal", function(){
        	 document.getElementById("edit-profile-form").reset();
        	 var newUsername = $('#profile-username').text();
        	 var newEmail = $('#profile-email').text();
        	 var newName = $('#profile-name').text();
        	 $('#name-modal').val(newName);
        	 $('#email-modal').val(newEmail);
        	 $('#username-modal').val(newUsername);
   			 $('#edit-profile-msg').remove();
		});
		// CHANGE PASSWORD
		$('#edit-password-form').bind('submit', function(event){
			event.preventDefault();
			$('#edit-password-msg').remove();
			var p1 = $('#password-modal').val();
			var p2 = $('#password2-modal').val();
			if(p1!=p2){
				$('#editPasswordModal .modal-body').prepend('<div class="alert alert-warning" id="edit-password-msg" role="alert"> Passwords don\'t match.</div>');
			}
			else{
				var d = $(this).serialize();
				$.post({{ url_for('change_password') |tojson|safe }}, d, function(data){
					if(data.error=='None'){
						$('#editPasswordModal .modal-body').prepend('<div class="alert alert-success" id="edit-password-msg" role="alert"> Successfully changed! </div>');
					}
					else{
						$('#editPasswordModal .modal-body').prepend('<div class="alert alert-warning" id="edit-password-msg" role="alert">'+data.error+'</div>');
					}
					$("input[name='_csrf_token'").val(data.token);
				});
			}
		});

		$("#editPasswordModal").on("hidden.bs.modal", function(){
        	 document.getElementById("edit-password-form").reset();
   			 $('#edit-password-msg').remove();
		});
	});
</script>
{% endblock %}
