{% extends 'layout.html' %}
{% block controllers %}
	<input type="hidden" name="board-id-general" value="{{ boardID }}">
{% if isOwner %}
	<button class='global-btn register-btn delete-btn' title='Delete Board' data-toggle='modal' data-target='#deleteModal'><i class='fa fa-trash'></i></button>
	{% if not isDone %}
	<button class='global-btn register-btn board-btn' title='Mark As Done' data-toggle='modal' data-target='#markAsDoneModal'><i class='fa fa-check'></i></button>
	{% endif %}
	<button class='global-btn register-btn board-btn' title='See Invited Users' data-toggle='modal' data-target='#invitedUsersModal'><i class='fa fa-users'></i></button>
	<button class='global-btn register-btn board-btn' title='Edit Board' data-toggle='modal' data-target='#editModal'><i class='fa fa-pencil'></i></button>
	<button class='global-btn register-btn board-btn' title='Invite Others' data-toggle='modal' data-target='#inviteModal'><i class='fa fa-envelope'></i></button>
{% else %}
	<button class='global-btn register-btn delete-btn' title='Remove Yourself' data-toggle='modal' data-target='#removeSelfModal'><i class='fa fa-times'></i></button>
{% endif %}
{% endblock %}
{% block content %}
<div class='row'>
	<div class='col-xs-12' id='board-header'>
	{% if not session.logged_in %}
		<div class="alert alert-success">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Welcome, {{email}}!</strong> You've been invited! Sign up/Login to continue with your username.
		</div>
	{% endif %}
		<h2><span id='board-title'>{{title}}</span>
			<small> 
				<i id="time-until-done" {% if isDone %} class="fa fa-exclamation-circle" {% else %} class="fa fa-hourglass-half" {% endif %}></i> 
				<i id="whoami-rank" {% if isOwner %} class="fa fa-check-circle" title="You're the owner" {% elif canEdit and not isOwner %} class="fa fa-pencil" title="You can edit" {% else %} class="fa fa-eye" title="You can only view" {% endif %}></i>
				<button class='global-btn register-btn download-btn' title='Save As Image..' data-toggle='modal' data-target='#saveImageModal'><i class='fa fa-download'></i></button>
			</small>
		</h2>
	</div>
</div>
	<div class='row'>
	<!--CANVAS SECTION-->
	<div class='col-xs-12 col-md-9'>
		<h4 id='canvas-section-identifier' class='section-identifier global-btn'>Canvas</h4>
		{% if canEdit and not isDone %}
		<div id="board-tools">
			<input type="hidden" name="_csrf_token" id="add-component-token" value="{{ csrf_token() }}" />
			<span class='global-btn tool-btn' id="tool-add-text" title='Add Text'><i class='fa fa-font'></i></span>
		</div>
		{% endif %}
		<div id="board-notice"></div>
		<div id="board-grid"></div>
	</div>
	<!--END CANVAS SECTION-->
	<!--CHAT SECTION-->
		<div class='col-xs-12 col-md-3'>
			<h4 id='chat-section-identifier' class='section-identifier global-btn'>Chat</h4>
			<div id='chat-board'>
			<h1 id='chat-board-spinner' class='text-center' title="Loading chat.."><i class="fa fa-pulse fa-spinner"></i></h1>
			</div>
	<!--Chat box-->
	{% if not isDone %}
			<form id='chat-form'>
				<div class='form-group'>
				<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
					<hr>
					<textarea class='form-control' name='message' id='chat-textarea' placeholder="SAY SOMETHING..."></textarea>
				</div>
			</form>
	{% endif %}
	<!--End Chat box-->
	<!--END CHAT SECTION-->

		</div>
	</div>


	
{% endblock %}
{% block controller_modals %}
{% if isOwner %}
<!--Invited Users-->
		<div class="modal fade bs-example-modal-sm" id="invitedUsersModal" tabindex="-1" role="dialog" aria-labelledby="invitedUsersLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="invitedUsersLabel">Invited Users</h4>
		      </div>
		      <div class="modal-body" id="invited-users-modal-body">				 	
		      	 <h4 class='text-center' id='invited-users-spinner'><i class="fa fa-spinner fa-pulse"></i></h4>
				 <div id="invited-users-list">
				 </div>
		      </div>
		    </div>
		  </div>
		</div>
		<!--End Invited users-->
<!--Delete board-->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="deleteLabel">Delete Board</h4>
		      </div>
		      <div class="modal-body text-center">
				  <h4>Are you sure you want to delete this board?</h4>
				  <p>This cannot be undone. All data related to the board, including invites, etc, will not be available.</p>
				  <form id='delete-form' method='post'>
				  	<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
				  </form>
				  <button id='delete-this-board' class='global-btn half-btn delete-btn'>Yes</button>
				  <button id='do-not-delete-this-board' class='global-btn half-btn neutral-btn'>No</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--End Delete board-->
{% if not isDone %}
<!--Mark As Done-->
		<div class="modal fade" id="markAsDoneModal" tabindex="-1" role="dialog" aria-labelledby="markAsDoneLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="markAsDoneLabel">Mark As Done</h4>
		      </div>
		      <div class="modal-body text-center">
				  <h4>Are you sure you want to mark this board as done?</h4>
				  <p>This cannot be undone.</p>
				  <form id='mark-as-done-form'>
				  	<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
				  	<input type='hidden' name='boardID' value='{{ boardID }}'>
				  </form>
				  <button id='mark-as-done' class='global-btn half-btn'>Yes</button>
				  <button id='do-not-mark-as-done' class='global-btn half-btn'>No</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--End Mark As Done-->
{% endif %}
<!--Edit Board-->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="editLabel">Edit Board</h4>
		      </div>
		      <div class="modal-body">
				  <form id='edit-board-form'> <!--CHANGE-->
				  	<input name='_csrf_token' type='hidden' value="{{ csrf_token() }}">
				  	<div class='form-group'>
				     <label for='title-modal'>Title</label>
				     <input type='text' class='form-control' id='title-modal' name='title' value='{{ title }}' required>
				    </div>
				     <button type='submit' class='global-btn full-btn' id='edit-button'>Save</button>
				  </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!--End Edit Board-->
<!--Invite To Board-->
		<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="inviteLabel">Invite By Email</h4>
		      </div>
		      <div class="modal-body">
				  <form id='invite-form'> <!--CHANGE-->
				  	<input name='_csrf_token' type='hidden' value="{{ csrf_token() }}">
				  	<div class='form-group'>
				     <label for='email-modal'>Email</label>
				     <input type='email' class='form-control' id='email-modal' name='email'  placeholder='ENTER THEIR EMAIL' required>
				    </div>
				    <div class='form-group'>
					     <label for='type-modal'>Permission</label>
					     <div id='type-modal'>
					     	<div class="radio-inline">
							  <label><input type="radio" name="type" value='view' required>View only</label>
							</div>
							<div class="radio-inline">
							  <label><input type="radio" name="type" value='edit' required>Edit</label>
							</div>
						</div>
				    </div>
				     <button type='submit' class='global-btn full-btn' id='invite-button'>Invite</button>
				  </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!--End Invite To Board-->

{% elif session.logged_in and not isOwner%}
<!--Remove self from board-->
		<div class="modal fade" id="removeSelfModal" tabindex="-1" role="dialog" aria-labelledby="removeSelfLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="removeSelfLabel">Remove Yourself</h4>
		      </div>
		      <div class="modal-body text-center">
				  <h4>Are you sure you want to remove yourself from this board?</h4>
				  <p>You will not be able to view or interact with the board unless the creator re-invites you.</p>
				  <form id='remove-self-form' action="{{ url_for('remove_self') }}" method='post'>
				  	<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
				  	<input type='hidden' name='boardID' value='{{ boardID }}'>
				  </form>
				  <button id='remove-thyself' class='global-btn half-btn delete-btn'>Yes</button>
				  <button id='do-not-remove-thyself' class='global-btn half-btn neutral-btn'>No</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!--Remove self from board-->
{% endif %}
<!--Save Board As Image-->
		<div class="modal fade" id="saveImageModal" tabindex="-1" role="dialog" aria-labelledby="saveImageLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="saveImageLabel">Save Board As Image</h4>
		      </div>
		      <div class="modal-body text-center" id="save-image-body">
				  <h4 id="save-image-instructions">Right click the box below, then Save image as..</h4>
				  <span id="save-image-spinner"><i class="fa fa-pulse fa-spinner"></i></span>
		      </div>
		    </div>
		  </div>
		</div>
		<!--End Save Board As Image-->
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/board-elements.js') }}"></script>
<script src="{{ url_for('static', filename='js/html2canvas.js') }}"></script>
<script src="{{ url_for('static', filename='js/show-board.js') }}"></script>
<script> // keeping it here because jinja-rendered urls below, for now.
	$(function() {
		initVar({{ isDone|tojson }}, {{ canEdit|tojson }}, '{{ done_at }}', {{ isOwner|tojson }},
		 {{ session.logged_in|tojson }}, {{ session.username|tojson }}, '{{ email }}', {{ boardID }});
});
</script>
{% endblock %}